@page "/friends"
@layout Shared.SocialLayout
@inject NavigationManager NavigationManager
@using Shared
@using Crowd_CTRL.Pages
<ConfirmModal @ref="ConfirmModal"></ConfirmModal>
<ChatBox @ref="ChatBox"></ChatBox>


<style>
    .main-friend-search-container{
        padding-top: 10px;
        min-height: 500px;
        margin: auto;
        width: 80%;
        height: 100%;
    }
    .search-container{
        padding-bottom: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-results-container{
        height: 90%;
        background-color: rgba(255,255,255,0.05);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
        width: 100%;
    }
    .res-list{
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    hr{
        color: white;
        background-color: white;
        width: 100%;
    }
    .friend-item{
        width: 100%;
        display: flex;
        align-items: center;

    }
    .friend-actions{
        margin-left: auto;
    }
    .friend-action-button{
        display: inline-block;
        height: 30px;
        padding: 0;
        margin: 0;
        vertical-align: top;
        width: 30px;
        border-width: 0px;
        background-color:#ffffff00;
        align-items: center;
    }
    .friend-search-other-prompt{
        width: 95%;
        align-self: center;
        height: 35%;
        justify-content: center;
        align-items: flex-end;
        display: flex;
    }
    
    .padding{
        padding-top: 2.5%; 
        padding-left:4%;
    }
    
    .pic{
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }
</style>

<h1 style="text-align: center;">FRIENDS</h1>
<div class="main-friend-search-container">
    <div class="search-container">
        <EditForm style="display: flex; justify-content: center;" Model="@friend">
            <InputText placeholder="Search For Users" id="searchBox" name="searchBox" style="width: 89%; color: white; background-color: #4d4d4d;" @bind-Value="friend.Username"/>
        <EditForm style="display: flex; justify-content: center;" Model="@friend" OnSubmit=@FormSubmitted>
            <InputText placeholder="Search For Users" id="searchBox" name="searchBox" style="width: 89%; color: white; background-color: #4d4d4d; padding-left: 10px;" @bind-Value="friend.Username" /> 
            <div style="text-align: center">
                <button class="btn btn-primary" @onclick="@changedFriendRequestedStatus">Search</button>
            </div>
        </EditForm>
    </div>

    @if (@friend.Username == "")
    {
        <div class="list-header">
            <h2>My Friends</h2>
        </div>
        <div class="search-results-container">
            <div class="res-list">
                @foreach (var listFriend in Program.Friends.FindAll(fr => fr.isFriend))
                {
                    <div class="friend-item">
                        <div style="display: inline-flex;">
                            <button class="friend-action-button padding" title="Chat" @onclick='() => ChatBox.StartChat(listFriend.Username)'>
                                <RadzenIcon Style="font-size:24px; color: white; justify-self: flex-end;" Icon="chat"/>
                            </button>
                            <div style="padding-right: 10px; padding-left: 10px;">
                                <img src="@listFriend.ProfilePicture" alt="@listFriend.Username's profile picture" class="pic"/>
                            </div>
                            <a style="color: white" href="/profile/@listFriend.Username">
                                <h2>@listFriend.Username</h2>
                            </a>
                        </div>
                        <div class="friend-actions">
                            <button class="friend-action-button" title="Remove friend" @onclick='() => ConfirmModal.Open(listFriend.Username)'>
                                <RadzenIcon Style="font-size:32px; color: red;" Icon="clear"/>
                            </button>
                            <button class="friend-action-button" title="Mute notifications" @onclick='() => { listFriend.isNotify = !listFriend.isNotify; }'>
                                @if (!@listFriend.isNotify)
                                {
                                    <RadzenIcon Style="font-size:31px; color: red;" Icon="notifications_off"/>
                                }
                                else
                                {
                                    <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_active"/>
                                }
                            </button>
                        </div>
                    </div>
                    <hr>
                }
            </div>
        </div>
    }
    @* When the user tries to search something *@
    @if (@friend.Username != "")
    {
        <div class="list-header">
            <h2>Friend Search</h2>
        </div>
        <div class="search-results-container">
            <div class="res-list">
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;">
                        <img src="@friend.ProfilePicture" alt="@friend.Username's profile picture" class="pic"/>
                    </div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="@friend.Username"/>
                    <div class="friend-actions">
                        @if (friendRequested)
                        {
                            <button class="btn btn-light" @onclick="changedFriendRequestedStatus">
                                Request Sent!
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="changedFriendRequestedStatus">
                                Add Friend
                            </button>
                        }
                    </div>
                </div>
                <hr>
                <div class="friend-search-other-prompt">
                    <div style="text-align: center;">
                        <h2>Others you may know</h2>
                        <h4>(based on past games played and common friends)</h4>
                    </div>
                </div>
                <br>
                @foreach (var potentialFriend  in Program.Friends.FindAll(user => !user.isFriend))
                {
                    <div class="friend-item" style="width: 90%; align-self: center;">
                        <div style="padding-right: 10px; padding-left: 10px;">
                            <img src="@potentialFriend.ProfilePicture" alt="@potentialFriend.Username's profile picture" class="pic"/>
                        </div>
                        <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text=@potentialFriend.Username/>
                        <div class="friend-actions">
                            <button class="btn btn-primary">
                                Add Friend
                            </button>
                        </div>
                    </div>
                    <hr>
                }
            </div>
        </div>
    }
</div>

@code{
    ConfirmModal ConfirmModal { get; set; }

    private Friend friend = new("");

    ChatBox ChatBox { get; set; }

    bool friendRequested = false;

    private void UserNavigate(string username)
    {
        NavigationManager.NavigateTo("profile/" + username);
    }

    private void changedFriendRequestedStatus()
    {
        if (friendRequested)
        {
            friendRequested = false;
            friend.isFriend = true;
            Program.Friends.Add(friend);
            friend = new("");
        }
        else
        {
            friendRequested = true;
            var index = Program.Friends.FindIndex(user => user.Username == friend.Username);
            if (index != -1)
            {
                Program.Friends.RemoveAt(index);
            }
        }
        StateHasChanged();
    }

}