@page "/friends"
@layout Shared.SocialLayout
@inject NavigationManager NavigationManager
@using Crowd_CTRL.Pages
@* @using Shared *@
@using Components
<Crowd_CTRL.Shared.ConfirmModal @ref="ConfirmModal"></Crowd_CTRL.Shared.ConfirmModal>
<Crowd_CTRL.Shared.ChatBox @ref="ChatBox"></Crowd_CTRL.Shared.ChatBox>


<style>
    .main-friend-search-container{
        padding-top: 10px;
        min-height: 500px;
        margin: auto;
        width: 80%;
        height: 100%;
    }
    .search-container{
        padding-bottom: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-results-container{
        height: 90%;
        background-color: rgba(255,255,255,0.05);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
        width: 100%;
    }
    .res-list{
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    hr{
        color: white;
        background-color: white;
        width: 100%;
    }
    .friend-item{
        width: 100%;
        display: flex;
        align-items: center;

    }
    .friend-actions{
        margin-left: auto;
        @* display: inline-block; *@
    }
    .friend-action-button{
        display: inline-block;
        height: 30px;
        padding: 0;
        margin: 0;
        vertical-align: top;
        width: 30px;
        border-width: 0px;
        background-color:#ffffff00;
        align-items: center;
    }
    .friend-search-other-prompt{
        width: 95%;
        align-self: center;
        height: 35%;
        justify-content: center;
        align-items: flex-end;
        display: flex;
    }
    
</style>

<h1 style="text-align: center;">FRIENDS</h1>
<div class="main-friend-search-container">
    <div class="search-container">
        <EditForm style="display: flex; justify-content: center;" Model="@friend" OnSubmit=@FormSubmitted>
            <InputText placeholder="Search For Users" id="searchBox" name="searchBox" style="width: 89%; color: white; background-color: #4d4d4d;" @bind-Value="friend.Username" /> 
            <div style="text-align: center">
                <button class="btn btn-primary">Search</button>
            </div>
        </EditForm>
    </div>
    <div class="list-header">
        <h2>@resTitle</h2>
    </div>
    
    <div class="search-results-container">
        @* Not searching for friends *@
        @if (@friend.Username == ""){
            <div class="res-list">
                <div class="friend-item">
                    <div style="display: inline-flex;">
                        <button class="friend-action-button" title="Chat" style="padding-top: 2.5%; padding-left:4%;" @onclick='() => ChatBox.StartChat("Friend 1")'>
                            <RadzenIcon Style="font-size:24px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                        <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                        <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 1" />
                        
                        @* If there is the option to turn on notifications, then the user has been muted *@
                        @if (@friendMutedStatus["Friend 1"].Equals("notifications_off")){
                            <RadzenIcon Style="font-size:25px; color: #993B27; padding-top:3%;" Icon="notifications_off" />
                        }
                    </div>
                    
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" title="Remove friend" @onclick='() => ConfirmModal.Open("Friend 1")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button" title="Mute notifications" @onclick='() => changeMutedStatus("Friend 1")'>
                            @if (@friendMutedStatus["Friend 1"].Equals("notifications_active"))
                            {
                                <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                            }
                            else{
                                <RadzenIcon Style="font-size:31px; color: green;" Icon="notifications_active" />
                            }
                            
                        </button>

                        
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="display: inline-flex;">
                        <button class="friend-action-button" title="Chat" style="padding-top: 2.5%; padding-left:4%;" @onclick='() => ChatBox.StartChat("Friend 2")'>
                            <RadzenIcon Style="font-size:24px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                        <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                        <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 2" />
                        
                        @* If there is the option to turn on notifications, then the user has been muted *@
                        @if (@friendMutedStatus["Friend 2"].Equals("notifications_off")){
                            <RadzenIcon Style="font-size:25px; color: #993B27; padding-top:3%;" Icon="notifications_off" />
                        }
                    </div>
                    
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" title="Remove friend" @onclick='() => ConfirmModal.Open("Friend 2")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button" title="Mute notifications" @onclick='() => changeMutedStatus("Friend 2")'>
                            @if (@friendMutedStatus["Friend 2"].Equals("notifications_active"))
                            {
                                <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                            }
                            else{
                                <RadzenIcon Style="font-size:31px; color: green;" Icon="notifications_active" />
                            }
                            
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="display: inline-flex;">
                        <button class="friend-action-button" title="Chat" style="padding-top: 2.5%; padding-left:4%;" @onclick='() => ChatBox.StartChat("Friend 3")'>
                            <RadzenIcon Style="font-size:24px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                        <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                        <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 3" />
                        
                        @* If there is the option to turn on notifications, then the user has been muted *@
                        @if (@friendMutedStatus["Friend 3"].Equals("notifications_off")){
                            <RadzenIcon Style="font-size:25px; color: #993B27; padding-top:3%;" Icon="notifications_off" />
                        }
                    </div>
                    
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" title="Remove friend" @onclick='() => ConfirmModal.Open("Friend 3")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button" title="Mute notifications" @onclick='() => changeMutedStatus("Friend 3")'>
                            @if (@friendMutedStatus["Friend 3"].Equals("notifications_active"))
                            {
                                <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                            }
                            else{
                                <RadzenIcon Style="font-size:31px; color: green;" Icon="notifications_active" />
                            }
                            
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="display: inline-flex;">
                        <button class="friend-action-button" title="Chat" style="padding-top: 2.5%; padding-left:4%;" @onclick='() => ChatBox.StartChat("Friend 4")'>
                            <RadzenIcon Style="font-size:24px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                        <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                        <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 4" />
                        
                        @* If there is the option to turn on notifications, then the user has been muted *@
                        @if (@friendMutedStatus["Friend 4"].Equals("notifications_off")){
                            <RadzenIcon Style="font-size:25px; color: #993B27; padding-top:3%;" Icon="notifications_off" />
                        }
                    </div>
                    
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" title="Remove friend" @onclick='() => ConfirmModal.Open("Friend 4")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button" title="Mute notifications" @onclick='() => changeMutedStatus("Friend 4")'>
                            @if (@friendMutedStatus["Friend 4"].Equals("notifications_active"))
                            {
                                <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                            }
                            else{
                                <RadzenIcon Style="font-size:31px; color: green;" Icon="notifications_active" />
                            }
                            
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="display: inline-flex;">
                        <button class="friend-action-button" title="Chat" style="padding-top: 2.5%; padding-left:4%;" @onclick='() => ChatBox.StartChat("Friend 5")'>
                            <RadzenIcon Style="font-size:24px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                        <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                        <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 5" />
                        
                        @* If there is the option to turn on notifications, then the user has been muted *@
                        @if (@friendMutedStatus["Friend 5"].Equals("notifications_off")){
                            <RadzenIcon Style="font-size:25px; color: #993B27; padding-top:3%;" Icon="notifications_off" />
                        }
                    </div>
                    
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" title="Remove friend" @onclick='() => ConfirmModal.Open("Friend 5")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button" title="Mute notifications" @onclick='() => changeMutedStatus("Friend 5")'>
                            @if (@friendMutedStatus["Friend 5"].Equals("notifications_active"))
                            {
                                <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                            }
                            else{
                                <RadzenIcon Style="font-size:31px; color: green;" Icon="notifications_active" />
                            }
                            
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="display: inline-flex;">
                        <button class="friend-action-button" title="Chat" style="padding-top: 2.5%; padding-left:4%;" @onclick='() => ChatBox.StartChat("Friend 6")'>
                            <RadzenIcon Style="font-size:24px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                        <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                        <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 6" />
                        
                        @* If there is the option to turn on notifications, then the user has been muted *@
                        @if (@friendMutedStatus["Friend 6"].Equals("notifications_off")){
                            <RadzenIcon Style="font-size:25px; color: #993B27; padding-top:3%;" Icon="notifications_off" />
                        }
                    </div>
                    
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" title="Remove friend" @onclick='() => ConfirmModal.Open("Friend 6")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button" title="Mute notifications" @onclick='() => changeMutedStatus("Friend 6")'>
                            @if (@friendMutedStatus["Friend 6"].Equals("notifications_active"))
                            {
                                <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                            }
                            else{
                                <RadzenIcon Style="font-size:31px; color: green;" Icon="notifications_active" />
                            }
                            
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="display: inline-flex;">
                        <button class="friend-action-button" title="Chat" style="padding-top: 2.5%; padding-left:4%;" @onclick='() => ChatBox.StartChat("Friend 7")'>
                            <RadzenIcon Style="font-size:24px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                        <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                        <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 7" />
                        
                        @* If there is the option to turn on notifications, then the user has been muted *@
                        @if (@friendMutedStatus["Friend 7"].Equals("notifications_off")){
                            <RadzenIcon Style="font-size:25px; color: #993B27; padding-top:3%;" Icon="notifications_off" />
                        }
                    </div>
                    
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" title="Remove friend" @onclick='() => ConfirmModal.Open("Friend 7")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button" title="Mute notifications" @onclick='() => changeMutedStatus("Friend 7")'>
                            @if (@friendMutedStatus["Friend 7"].Equals("notifications_active"))
                            {
                                <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                            }
                            else{
                                <RadzenIcon Style="font-size:31px; color: green;" Icon="notifications_active" />
                            }
                            
                        </button>
                    </div>
                    
                </div>

            </div>
        }
        @* When the user tries to search something *@
        @if(@friend.Username != ""){
            <div class="res-list">
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="@friend.Username" />
                    
                    <div class="friend-actions">
                        @if (friendRequested)
                        {
                            <button class="btn btn-light" @onclick="() => changedFriendRequestedStatus()">
                                Request Sent!
                            </button>
                        }
                        else{
                            <button class="btn btn-primary" @onclick="() => changedFriendRequestedStatus()">
                                Add Friend
                            </button>
                        }
                    </div>
                    
                </div>
                <hr>
                <div class="friend-search-other-prompt">
                    <div style="text-align: center;">
                        <h2>Others you may know</h2>
                        <h4>(based on past games played and common friends)</h4>
                    </div>
                    
                </div>
                <br>
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Other User 1 (Plays Overwatch)" />
                    
                    <div class="friend-actions">
                        <button class="btn btn-primary">
                            Add Friend
                        </button>

                    </div>
                    
                </div>
                <hr>
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Other User 2 (Plays Call Of Duty: Warzone)" />
                    
                    <div class="friend-actions">
                        <button class="btn btn-primary">
                            Add Friend
                        </button>

                    </div>
                    
                </div>
                <hr>
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Other User 3 (Friends with Raptek12)" />
                    
                    <div class="friend-actions">
                        <button class="btn btn-primary">
                            Add Friend
                        </button>

                    </div>
                    
                </div>
            </div>
        }
        
    </div>

</div>

@code{
    ConfirmModal ConfirmModal { get; set; }

    private Friend friend = new();

    ChatBox ChatBox {get; set; }


    string resTitle = "My Friends";

    bool friendRequested = false;

    private Dictionary<string, string> friendMutedStatus = new Dictionary<string, string>();

    @* Things are likely going to change here with this friends array and how it is populated *@
    @* and functions, so bear that in mine*@

    Task initFriendsDict()
    {
        for (int i = 0; i < 7; i++)
        {
            friendMutedStatus.Add(("Friend " + (i+1)), "notifications_active");
        }
        return Task.CompletedTask;
    }
    protected override async Task OnInitializedAsync(){
        await initFriendsDict();
    }

    
    private void FormSubmitted()
    {
        resTitle = "Friend Search";
        
    }
    private void UserProfileNavigate()
    {
        NavigationManager.NavigateTo("user_profile");
    }

    private void changeMutedStatus(string FName){
        if(friendMutedStatus[FName].Equals("notifications_active")){
            friendMutedStatus[FName] = "notifications_off";
        }
        else{
            friendMutedStatus[FName] = "notifications_active";
        }
    }

    private void changedFriendRequestedStatus(){
        if (friendRequested)
        {
            friendRequested = false;
        }
        else{
            friendRequested = true;
        }
    }

}