@page "/home"
@using Crowd_CTRL.Pages
@using Components
@layout Shared.SocialLayout

<div class="main-content">
    <div class="container card" style="width: 90%; margin-left: auto; margin-right: auto; background-color: rgba(255,255,255,0.05);padding: 1%;margin-bottom: 3%">
        <div class="row" style="text-align: center">
            <div class="col">
                <a href="/profile" class="link-primary">
                    <h3>Live Game Info</h3>
                </a>
                <div style="background-color: rgba(255,255,255,0.05)">
                    LIVE - Overwatch<br>
                    KDA - 2.5
                </div>
            </div>
            <div class="col">
                <a href="/tournament" class="link-primary">
                    <h3>Tournament</h3>
                </a>
                <div style="background-color: rgba(255,255,255,0.05)">
                    Weekly5x5 - Ongoing<br>
                    Weekly5x5 - In 7 days
                </div>
            </div>
            <div class="col">
                <a href="/clans" class="link-primary">
                    <h3>Clan Events</h3>
                </a>
                <div style="background-color: rgba(255,255,255,0.05)">
                    Superclan - Raid in 5 hours<br>
                </div>
            </div>
            <div class="col">
                <a href="/tournament" class="link-primary">
                    <h3>Notifications</h3>
                </a>
                <div style="background-color: rgba(255,255,255,0.05)">
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 90%; background-color: rgba(255,255,255,0.05); margin-left: auto; margin-right: auto; margin-bottom: 5%">
        <div class="card-body">
            <EditForm Model="@_formPost" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <InputText @bind-Value="_formPost.Text" CssClass="form-control" class="form-control" rows="3" placeholder="Share what's new here!" style="width: 90%;background-color: rgba(255,255,255,0.05); color: white"/>
                <div class="row">
                    <div class="col">
                        <InputFile @bind-Value="_formPost.Embed" class="form-control" type="file" id="formFile" style="background-color: rgba(255,255,255,0.05); color: white; width: 60%"/>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary" style="margin-left: 50%">Submit</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
    @if (Program.Posts.Count > 0)
    {
        @foreach (var post in Program.Posts)
        {
            <div class="card" style="width: 90%; background-color: rgba(255,255,255,0.05); margin-left: auto; margin-right: auto; margin-bottom: 5%">
                <div class="row">
                    <div class="col-2">
                        <img src="@post.ProfileUrl" class="card-img-top" alt="Profile Picture" height="150px" width="150px"/>
                        <h3 style="text-align: center">@post.Username</h3>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Posted @post.PostedDate </h5>
                            @if (@post.Embed.Length > 0)
                            {
                                <iframe width="560" height="315" src="@post.Embed" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            }
                            <p class="card-text">@post.Text</p>
                            <div style="position: absolute; bottom: 0; right: 13px;">
                                <button @onclick="() => { post.Reaction += 1; }" class="btn" style="font-size: 24px; background-color: rgba(255,255,255,0.05); color: white">
                                    @post.Reaction 🔥
                                </button>
                                <button @onclick="() => {post.DisplayComments = !post.DisplayComments; StateHasChanged();}" class="btn" style="background-color: rgba(255,255,255,0.05);">
                                    <RadzenIcon Icon="comment" Style="color: white; height: 36px;"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (post.DisplayComments)
            {
                <CommentSection Comments="@post.Comments"/>
            }
        }
    }
</div>

@code{
    private Post _formPost = new Post();


    private void HandleValidSubmit()
    {
        _formPost.Username = Program.User.Username;
        _formPost.PostedDate = DateTime.Now;
        _formPost.ProfileUrl = Program.User.ProfilePicture;
        Program.Posts.Insert(0, _formPost);

        _formPost = new Post();
        StateHasChanged();
    }

}