@page "/home"
@using Crowd_CTRL.Pages
@layout Shared.SocialLayout

<div class="main-content">
    <div class="container" style="width: 90%; margin-left: auto; margin-right: auto; background-color: rgba(255,255,255,0.05);padding: 1%;margin-bottom: 3%">
        <div class="row" style="text-align: center">
            <div class="col">
                <a href="/profile" class="link-primary">
                    <h3>Live Game Info</h3>
                </a>
                <div style="background-color: rgba(255,255,255,0.05)">
                    LIVE - Overwatch<br>
                    KDA - 2.5
                </div>
            </div>
            <div class="col">
                <a href="/tournament" class="link-primary">
                    <h3>Tournament</h3>
                </a>
                <div style="background-color: rgba(255,255,255,0.05)">
                    Weekly5x5 - Ongoing<br>
                    Weekly5x5 - In 7 days
                </div>
            </div>
            <div class="col">
                <a href="/clans" class="link-primary">
                    <h3>Clan Events</h3>
                </a>
                <div style="background-color: rgba(255,255,255,0.05)">
                    Superclan - Raid in 5 hours<br>
                </div>
            </div>
            <div class="col">
                <a href="/tournament" class="link-primary">
                    <h3>Notifications</h3>
                </a>
                <div style="background-color: rgba(255,255,255,0.05)">
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 90%; background-color: rgba(255,255,255,0.05); margin-left: auto; margin-right: auto; margin-bottom: 5%">
        <div class="card-body">
            <EditForm Model="@formPost" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <InputText @bind-Value="formPost.Text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Share what's new here!" style="width: 90%;background-color: rgba(255,255,255,0.05); color: white"/>
                <div class="row">
                    <div class="col">
                        <InputFile @bind-Value="formPost.Embed" class="form-control" type="file" id="formFile" style="background-color: rgba(255,255,255,0.05); color: white; width: 60%"/>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary" style="margin-left: 50%">Submit</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
    @if (_posts.Count > 0)
    {
        @foreach (var post in _posts)
        {
            <div class="card" style="width: 90%; background-color: rgba(255,255,255,0.05); margin-left: auto; margin-right: auto; margin-bottom: 5%">
                <div class="row">
                    <div class="col-2">
                        <img src="@post.ProfileUrl" class="card-img-top" alt="Profile Picture" height="150px" width="150px"/>
                        <h3 style="text-align: center">@post.Username</h3>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Posted @post.PostedDate </h5>
                            @if (@post.Embed.Length > 0)
                            {
                                <iframe width="560" height="315" src="@post.Embed" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            }
                            <p class="card-text">@post.Text</p>
                            <div style="position: absolute; bottom: 0; right: 13px;">
                                <button class="btn" onclick="" style="font-size: 24px; background-color: rgba(255,255,255,0.05);">
                                    🔥
                                </button>
                                <button class="btn" onclick="" style="background-color: rgba(255,255,255,0.05);">
                                    <RadzenIcon Icon="comment" Style="color: white; height: 36px;"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code{
    private Post formPost = new Post();
    static Func<DateTime> getRandomDate = RandomDayFunc();

    private readonly List<Post> _posts = new List<Post>
    {
        new Post("Icons\\account.svg", "Daniel", "", "Hey! Hope everyone is doing well!", getRandomDate()),
        new Post("Icons\\account.svg", "Overwatch Gamer", "https://www.youtube-nocookie.com/embed/O161-WNZBP4", "Check out my overwatch game play.", getRandomDate())
    };

    /*Credit: https://stackoverflow.com/questions/194863/random-date-in-c-sharp*/

    static Func<DateTime> RandomDayFunc()
    {
        DateTime start = new DateTime(2021, 1, 1);
        Random gen = new Random();
        int range = (DateTime.Today - start).Days;
        return () => start.AddDays(gen.Next(range)).AddHours(gen.Next(24)).AddMinutes(gen.Next(60)).AddSeconds(gen.Next(60));
    }

    private void HandleValidSubmit()
    {
        formPost.Username = "TestUser";
        formPost.PostedDate = DateTime.Now;
        formPost.ProfileUrl = "Icons\\account.svg";
        _posts.Insert(0,formPost);
        
        formPost = new Post();
        StateHasChanged();
    }

}