@page "/profile-settings"
@using Crowd_CTRL.Pages
@layout Shared.SocialLayout
@inject NavigationManager NavigationManager

<style>
    .page-container {
        max-width: 800px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "header1 header1 header1"
            "pr-pic prof-sett conf"
            ". accounts button";
    }

    .header1 {
        margin: 15px;
        grid-area: header1;
        font-size: 2em;
        color: white;
        text-align: center;
    }

    .conf {
        grid-area: conf;
        align-self: end;
        justify-self: end;
    }

    .pr-pic { 

        grid-area: pr-pic;
    }

    .pic {
        display: block;
        align-content: end;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 180px;
        width: 180px;
    }

    .pr-sett {
        
        padding: 15px 0px 15px 0px;
        grid-area: prof-sett;
        border-bottom: 2px solid white;
    }

    .accounts {
        margin: 15px 0px 0px 0px;
        grid-area: accounts;
    }

    .bot-button {
        align-self: end;
        justify-self: end;
        grid-area: button;
    }

    .all-accounts {
       
        display: grid;
        padding: 10px;
    }

    button{
        background-color: rgba(255,255,255,0.05);
        color:  #667EFD;
    }

</style>


<div class="page-container">
    <div class="header1">Your profile settings</div>
    <div class="pr-pic">
        <img src="@Program.User.ProfilePicture" class="pic" alt="Profile Picture"/>
    </div>
    <div class="pr-sett">
        @*<div>
                <button class="btn btn-primary">Change profile picture</button>
            </div>*@
        <EditForm Model="updateUser" OnValidSubmit="@HandleUpdatePassword">
            <div style="margin-top: 5px">
                <i>Update password</i>
            </div>
            <div>
                <InputText @bind-Value="@CurrentPass" type="password" placeholder="Current password" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
                <InputText @bind-Value="@NewPass" type="password" placeholder="Current password" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
                <InputText @bind-Value="@ConfirmPass" type="password" placeholder="Confirm password" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
            </div>
            <div class="conf">
                <button class="btn btn-primary">Update password</button>
            </div>
        </EditForm>
    </div>

    <EditForm Model="updateUser" OnValidSubmit="@HandleUpdateUser">
    <div class="accounts">
        <h4>Connect your accounts</h4>
        <div class="all-accounts">
            <InputText @bind-Value="@Steam"     placeholder="Steam Username" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
            <InputText @bind-Value="@Battle"    placeholder="Battle.net Username" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
            <InputText @bind-Value="@GOG"       placeholder="GOG Username" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
            <InputText @bind-Value="@EpicGames" placeholder="Epic Games Username" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
            <InputText @bind-Value="@RiotGames" placeholder="Riot Games Username" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
            <InputText @bind-Value="@PSN"       placeholder="PSN Username" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
            <InputText @bind-Value="@Xbox"      placeholder="Xbox Live Username" class="form-control" style="margin: 3px; background-color: rgba(255,255,255,0.05); color: white"/>
        </div>      
    </div>
    <div class="bot-button">
        <button type="submit" class="btn btn-primary">Continue to feed</button>
    </div>
    </EditForm>
</div>

@code {
    User updateUser = new User();
    string CurrentPass, NewPass, ConfirmPass, Steam, Battle, GOG, EpicGames, RiotGames, PSN, Xbox;
    

    private void HomeNavigate()
    {
        NavigationManager.NavigateTo("home");
    }

    private void HandleUpdateUser()
    {
        throw new NotImplementedException();
    }

    private void HandleUpdatePassword()
    {
        throw new NotImplementedException();
    }

}