@page "/profile/{username?}"
@using Crowd_CTRL.Pages
@layout Shared.SocialLayout
<style>
    .picContainer{
        flex: 1 0 50%;
    }
    
    .pic{
        height: 180px;
        width: 180px;
        display: block;
        align-content: end;
        margin-left: auto;
        margin-right: 0;
        margin-top: 10px;
    }
    
    .username{
        font-size: 3em;
    }
    
    .platform{
        flex: 0 0 50%;
    }
    
    .platforms{
        display: inline-block;
        padding: 10px;
        background-color: rgba(255,255,255,0.05); 
    }
    
    .bio{
        margin-top: 10px;
        padding: 10px;
        white-space: pre-line;
        background-color: rgba(255,255,255,0.05); 
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="container flex">
    <div class="picContainer">
        <img src="@User.ProfilePicture" class="pic" alt="Profile Picture"/>
    </div>
    <div class="container platform">
        <div class="container username">
            @User.Username
        </div>
        @if (User.Platforms.Count > 0)
        {
            <div class="container platforms">
                @foreach (string platform in User.Platforms)
                {
                    <div>@platform</div>
                }
            </div>
        }
    </div>
    @if (User.Bio != "" || User.Games.Count != 0)
    {
        <div class="container bio">
            <h4>Bio:</h4>
            @User.Bio
            <h4>Games:</h4>
            @foreach (string game in User.Games)
            {
                <div>@game</div>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public string Username { get; set; }

    private User User { get; set; }
    private Friend Friend { get; set; }

    protected override void OnInitialized()
    {
        User = Program.Friends.Find(user => user.Username == Username) ?? Program.User;
    }

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(() => { User = Program.Friends.Find(user => user.Username == Username) ?? Program.User; });
        StateHasChanged();
    }

}