@page "/profile/{Username?}"
@using Crowd_CTRL.Pages
@layout Shared.SocialLayout
<style>
    .picContainer{
        flex: 1 0 50%;
    }
    
    .pic{
        height: 180px;
        width: 180px;
        display: block;
        align-content: end;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    
    .username{
        font-size: 3em;
    }
    
    .platform{
        flex: 0 0 50%;
    }
    
    .platforms{
        display: inline-block;
        padding: 10px;
        background-color: rgba(255,255,255,0.05); 
    }
    
    .bio{
        margin-top: 10px;
        padding: 10px;
        white-space: pre-line;
        background-color: rgba(255,255,255,0.05); 
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="flex" >
    <div class="picContainer">
        <img src="@User.ProfilePicture" class="pic" alt="Profile Picture"/>
    </div>
    <div class="platform">
        <div class="username">
            @User.Username
        </div>
        <div class="platforms">
            @foreach (string platform in User.Platforms){
                <div>@platform</div>
            }
        </div>
    </div>
    <div class="bio">
        @User.Bio
        @foreach (string game in User.Games)
        {
            <div>@game</div>
        }
    </div>
</div>

@code {
    [Parameter]
    public User User { get; set; }
    

    /*private readonly List<string> _listPlatforms = new List<string>()
    {
        "Steam: Ghost_cluster19",
        "Battle.net: Ghosty#1870",
        "GOG: Ghost_cluster19",
        "PSN: Ghost_cluster19"
    };

    private string Bio { get; set; } =
        "Most played Games \n" +
        "Minecraft: 17 days, 18 hours Largest world size: 5.2gb \n" +
        "Overwatch: 12 Days, 1 hour Highest ranked: 4400sr \n" +
        "League of Legends: 11 days 16 hours \n" +
        "Game Library \n" +
        "Battle.net \n" +
        "- Overwatch \n" +
        "- Diablo III \n" +
        "PSN \n" +
        "- FIFA 21 \n";*/
}