@page "/tournament-bracket"
@layout Shared.SocialLayout
@inject NavigationManager NavigationManager
@inject PageHistoryState PageHistoryState

@* https://grid.layoutit.com/?id=gWtsyNv  *@
<style>
.grid-container {
    margin: 40px;
    text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    ". T5 . ."
    "T1 vers2 . ."
    "vers0 O1 O3 ."
    "T2 . vers4 FIN"
    "T3 . vers4 FIN"
    "vers1 O2 O4 ."
    "T4 vers3 . B1"
    ". T6 . B2";
}

.vers4 { grid-area: vers4; align-self: center; }
.vers0 { grid-area: vers0; align-self: center; }
.vers1 { grid-area: vers1; align-self: center; }
.vers2 { grid-area: vers2; align-self: center; }
.vers3 { grid-area: vers3; align-self: center; }

.T5 { grid-area: T5;     margin: 20px;  align-self: center; }

.T6 { grid-area: T6;     margin: 20px;  align-self: center; }

.T1 { grid-area: T1;     margin: 20px;  align-self: center; }

.T2 { grid-area: T2;     margin: 20px;  align-self: center; }

.T3 { grid-area: T3;     margin: 20px;  align-self: center; }

.T4 { grid-area: T4;     margin: 20px;  align-self: center; }

.O1 { grid-area: O1;     margin: 20px;  align-self: center; }

.O2 { grid-area: O2;     margin: 20px;  align-self: center; }

.O3 { grid-area: O3;     margin: 20px;  align-self: center; }

.O4 { grid-area: O4;     margin: 20px;  align-self: center; }

.FIN { grid-area: FIN;     margin: 50px;  align-self: center; }


.B1 { grid-area: B1; }
.B2 { grid-area: B2; }

.st:link {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    color: black;
    background-color: white; 
}

.st:visited {
    color: black;
    background-color: green;
}

.before {
    display:block;
    width: 100%;
    color: black;
    background-color: white;
}

.clicked1 { display:block;    width: 100%;    color: black;    background-color: green; }
.clicked2 { display:block;    width: 100%;    color: black;    background-color: green; }
.clicked3 { display:block;    width: 100%;    color: black;    background-color: green; }
.clicked4 { display:block;    width: 100%;    color: black;    background-color: green; }
.clicked5 { display:block;    width: 100%;    color: black;    background-color: green; }
.clicked6 { display:block;    width: 100%;    color: black;    background-color: green; }
.clicked7 { display:block;    width: 100%;    color: black;    background-color: green; }
.clicked8 { display:block;    width: 100%;    color: black;    background-color: green; }

.winner {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    color: black;
    background-color: yellow;
}
</style>


<h1 style="text-align:center; margin: 30px;">@(TournamentCreate._tournament.TournamentName)</h1>
<div class="grid-container">
    @foreach (ATeam team in TournamentCreate._tournament.TeamNames)
        {
            int index = TournamentCreate._tournament.TeamNames.FindIndex(a => a.teamName.Equals(team.teamName));
            <div class="T@(team.teamNo)">
                <button class="btn before clicked@(team.teamClick)"  href="" @onclick:preventDefault @onclick="() => selectWinner(team)">@(team.teamName)</button>
            </div>
            
        }


    @foreach (int ver in Enumerable.Range(0, 5)) {
        <div class="vers@(ver)">
            <h1>↑ VERSUS ↓</h1>
        </div>
    }

    <div class="O1" >
        <a class="st nam6" style="display: block; " href="" @onclick:preventDefault @onclick="() => selectWinner(O1)">@(O1.teamName)</a>
    </div>
    
    <div class="O2">
        <a class="st nam7" style="display: block; " href="" @onclick:preventDefault @onclick="() => selectWinner(O2)">@(O2.teamName)</a>
    </div>
  
    <div class="O3">
        <a class="st nam8" style="display: block; " href="" @onclick:preventDefault @onclick="() => selectWinner(O3)">@(O3.teamName)</a>
    </div>
  
    <div class="O4">
        <a class="st nam9" style="display: block; " href="" @onclick:preventDefault @onclick="() => selectWinner(O4)">@(O4.teamName)</a>
    </div>
  
  <a class="FIN winner" @onclick:preventDefault href="">@(FIN.teamName)</a>
    <div class="B1">
        <button class="btn btn-primary" @onclick="TournamentCreateNavigate">Edit tournament</button>
    </div>
    <div class="B2">
        <button class="btn btn-danger" @onclick="TournamentWinNavigate">End tournament</button>
    </div>
</div>

@code {
    public static string click1 = "";
    public static string click2 = "";
    public static string click3 = "";
    public static string click4 = "";
    public static string click5 = "";
    public static string click6 = "";
    public static string click7 = "";
    public static string click8 = "";
    public static string click9 = "";
    public static ATeam O1 = new ATeam(7, "");
    public static ATeam O2 = new ATeam(8, "");
    public static ATeam O3 = new ATeam(9, "");
    public static ATeam O4 = new ATeam(10, "");
    public static ATeam FIN = new ATeam(11, "");

    private void TournamentCreateNavigate()
    {
        NavigationManager.NavigateTo("tournament-create");
        PageHistoryState.AddPageToHistory("tournament-bracket");
    }

    private void TournamentWinNavigate()
    {
        NavigationManager.NavigateTo("tournament-win");
        PageHistoryState.AddPageToHistory("tournament-bracket");
    }

    public void selectWinner(ATeam team) {
        switch(team.teamNo) {
            case 1:
                O1.teamName = team.teamName;
                click1 = "1";
                break;
            case 2:
                O1.teamName = team.teamName;
                click2 = "2";
                break;
            case 3:
                O2.teamName = team.teamName;
                click3 = "3";
                break;
            case 4:
                O2.teamName = team.teamName;
                click4 = "4";
                break;
            case 5:
                O3.teamName = team.teamName;
                click5 = "5";
                break;
            case 7:
                O3.teamName = team.teamName;
                click7 = "7";
                break;
            case 6:
                O4.teamName = team.teamName;
                click6 = "6";
                break;
            case 8:
                O4.teamName = team.teamName;
                click8 = "8";
                break;
            case 9:
                FIN.teamName = team.teamName;
                click9 = "9";
                break;
            case 10:
                FIN.teamName = team.teamName;
                break;
        }
    }
}